.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");

}
:root {
    --primary-clr-one: hsl(217, 28%, 15%);
    --primary-clr-two: hsl(218, 28%, 13%);
    --primary-clr-three: hsl(216, 53%, 9%);
    --primary-clr-four: hsl(219, 30%, 18%);
  
    --accent-clr-one: hsl(176, 68%, 64%);
    --accent-clr-two: hsl(198, 60%, 50%);
  
    --neutral-clr: hsl(0, 0%, 100%);
  }
  body {
    font-size: 14px;
    font-family: 'OpenSans', sans-serif;
    width: 100%;
    background: var(--primary-clr-one);
    color: var(--neutral-clr);
  }

/*navigation typograpy color and background*/
h1,
h2,
h3,
h4,
.logo {
 
  font-family: 'Raleway', sans-serif;
  line-height: 1.6;
  font-weight: 500;
  font-size: 1.6rem;
}
.nav-color{
    color: #fff;
}
.nav-color:hover{
    color: #fff;
    text-decoration: underline;
}

/* main section  */
.main-content{
    background-image: url(images/73452.jpg);
    text-align: center;
    padding-top: 8rem;
}
.main-title{
   
    margin-bottom: 0.8em;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 2.6rem;
    line-height: 1.5;
    margin-bottom: 0.3em;
}
.main-search{
    margin-top: 2rem;
    margin-bottom: 5rem;
    
}


.form__input {
    padding: 1.3em 1.6em;
    border: none;
    outline: none;
    border-radius: 25px;
    margin-bottom: 2em;
    font-family: 'OpenSans', sans-serif;
    font-size: 0.7rem;
}
.btn-primary {
    outline: none;
    border: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background: linear-gradient(var( --accent-clr-one), var(--accent-clr-two));
    border-radius: 10%;
}

.form__input {
    margin-bottom: 0;
}
.first-slide{
    height: 90vh;
    width: 100%;
}













